<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.emt.dao.AlarmMapper">
    <resultMap id="BaseResultMap" type="com.emt.vo.Alarm">
        <id 	property="alarmId"			column="ALARM_ID"			jdbcType="VARCHAR"/>
        <result property="alarmName"		column="ALARM_NAME"			jdbcType="VARCHAR"/>
        <result property="alarmStatus"		column="ALARM_STATUS"		jdbcType="VARCHAR"/>
        <result property="alarmTime"		column="ALARM_TIME"			jdbcType="VARCHAR"/>
        <result property="alarmEve"			column="ALARM_EVE"			jdbcType="VARCHAR"/>
        <result property="alarmProject"		column="ALARM_PROJECT"		jdbcType="VARCHAR"/>
        <result property="alarmAddress"		column="ALARM_ADDRESS"		jdbcType="VARCHAR"/>
        <result property="alarmType"		column="ALARM_TYPE"			jdbcType="VARCHAR"/>
        <result property="alarmLevel"		column="ALARM_LEVEL"		jdbcType="VARCHAR"/>
        <result property="alarmNum"			column="ALARM_NUM"			jdbcType="VARCHAR"/>
        <result property="alarmMsg"			column="ALARM_MSG"			jdbcType="VARCHAR"/>
        <result property="alarmAttach"		column="ALARM_ATTACH"		jdbcType="VARCHAR"/>
    </resultMap>
    
    <insert id="insertAlarmInfo" parameterType="com.emt.vo.Alarm">
    	INSERT INTO M_ALARM(
    		ALARM_ID,ALARM_NAME,ALARM_STATUS,ALARM_TIME,ALARM_EVE,ALARM_PROJECT,ALARM_ADDRESS,
    		ALARM_TYPE,ALARM_LEVEL,ALARM_NUM,ALARM_MSG,ALARM_ATTACH
    	)VALUES(
    		#{alarmId,jdbcType=VARCHAR},#{alarmName,jdbcType=VARCHAR},#{alarmStatus,jdbcType=VARCHAR},#{alarmTime,jdbcType=VARCHAR},
    		#{alarmEve,jdbcType=VARCHAR},#{alarmProject,jdbcType=VARCHAR},#{alarmAddress,jdbcType=VARCHAR},#{alarmType,jdbcType=VARCHAR},
    		#{alarmLevel,jdbcType=VARCHAR},#{alarmNum,jdbcType=VARCHAR},#{alarmMsg,jdbcType=VARCHAR},#{alarmAttach,jdbcType=VARCHAR}
    	)
    </insert>
    
    <select id="getHappenTimes" parameterType="com.emt.vo.Alarm" resultType="int" >
    	SELECT COUNT(*) FROM M_ALARM
    		WHERE 1=1 
    		<if test="alarmName !=null and alarmName !=''">
				and ALARM_NAME=#{alarmName}
			</if>
    		<if test="alarmEve !=null and alarmEve !=''">
				and ALARM_EVE=#{alarmEve}
			</if>
    		<if test="alarmProject !=null and alarmProject !=''">
				and ALARM_PROJECT=#{alarmProject}
			</if>
    		<if test="alarmAddress !=null and alarmAddress !=''">
				and ALARM_ADDRESS=#{alarmAddress}
			</if>
    		<if test="alarmType !=null and alarmType !=''">
				and ALARM_TYPE=#{alarmType}
			</if>
    </select>
    
    <update id="updateHappenTimes" parameterType="com.emt.vo.Alarm">
    	UPDATE M_ALARM T 
    		SET T.ALARM_NUM=#{alarmNum} 
    		WHERE T.ALARM_ID=#{alarmId}
    </update>
    
</mapper>